{% extends "base.html" %}
{% block nav %}
    
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
            <a class="nav-link active fw-bolder" aria-current="page" href="/">7일</a>
            </li>
            <li class="nav-item text-white">
            <a class="nav-link" href="/month">1개월</a>
            </li>
            <li class="nav-item text-white">
            <a class="nav-link" href="/year">12개월</a>
            </li>   
        </ul>
    </div>
{% endblock %}

{% block main %}

    <div class="col-md-12 text-center" style="margin-top: 10%;">
        {% if page.number == 1 %}
        <a class="btn btn-sm" href="?page=2" style="margin-bottom: 1%;"><img class="img_rotate" src="../../static/images/next1.png"></a>
        {% elif page.has_next %}
        <a class="btn btn-sm" href="?page={{page.next_page_number}}" style="margin-bottom: 1%;"><img class="img_rotate" src="../../static/images/next1.png"></a>
        {% else %}
        <a class="btn btn-sm" href="#" style="margin-bottom: 1%;"><img class="img_rotate" src="../../static/images/next1.png"></a>
        {% endif %}
        <strong class="d-inline-block mb-2 align-middle text-dark fs-5">{{ date_range }}</strong>
        {% if page.number == 2 %}
        <a class="btn btn-sm" href="/" style="margin-bottom: 1%;"><img src="../../static/images/next1.png"></a>
        {% elif page.has_previous %}
        <a class="btn btn-sm" href="?page={{page.previous_page_number}}" style="margin-bottom: 1%;"><img src="../../static/images/next1.png"></a>
        {% else %}
        <a class="btn btn-sm" href="#" style="margin-bottom: 1%;"><img src="../../static/images/next1.png"></a>
        {% endif %}
    </div>
  

    <div class="col-md-12 text-center" style="margin-top: 3%; margin-bottom: 15%" id="vis"> 
 
    </div>

    

{% endblock %}

{% block script %}
    <script>

        var stepcount = "{{ stepcount }}";

        stepcount = JSON.parse(stepcount)

        $.getScript("../../static/js/weeks.js");
    </script>

{% endblock %}